.text {
	margin: auto;
}

.popup-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: #fffafa;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	-webkit-transition: all ease 0.7s;
	transition: all ease 0.7s;
	z-index: 11;
	animation-name: fade-in;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	display: flex;
	align-content: center;
}

.popup {
	margin: auto;
	max-width: 400px;
	background-color: #31af5b;
	transition: all 0.6s ease-in-out;
	color: #000000;
	border-radius: 10px;
	display: block;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 1px solid #30aa58;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
		0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.popup:hover,
.popup:active,
.popup:focus {
	background: #777555;
}
